body {
  max-width:600px;
  margin:auto;
}

p {
  text-align:justify;
}

pre {
  color:#000099;
  background-color:#ddd;
  padding-top:10px;
  padding-bottom:10px;
}

code {
  color:#990000;
}

table td code {
  color:#000;
}
